
.iconBasket{
    color: #78A206;
    font-size: 65px;
}
.h1Color{
    color: #3ba66b;
}
.defaultColor{
    color: #78A206;
    
}
.brdrGreen{
    border-color: #78A206 ;
}
.brdrRed{
    border-color: red ;
}
.btn {
    background-color: #78A206;
    color: white;
    border: 1px;
    border-radius: 6px;
    height: 45px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover
{
    background-color:#90c209 ;
    transition: background-color .5s;
    color: #fff;
}

.textInput:focus{
    outline: hidden;
}


.form{
    width: 500px;
}

.button{
    background-color: #78A206;
    color: #fff;
}

.button:hover{
        background-color: #90c209;
            color: #fff;
}

@media screen and (max-width: 768px) {
     .button{
                font-size: 18px;
     }
        
    }
@media screen and (max-width: 576px) {
    .form{
        width: 80%;
    }
    .button {
        font-size: 13px;
    }
}